.appContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../resources/stars_bg.jpg');
}

.dummyWidth {
  margin-right: 50px;
  width: 200px;
}

.scrollWrapper {
  margin-left: 50px;
  overflow: hidden;
  min-width: 80px;
  width: 180px;
}

.userContainer {
  min-width: 100px;
  width: 200px;
  min-height: 1000px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.userContainer::-webkit-scrollbar { width: 0 !important }
.userContainer { -ms-overflow-style: none; }

.disconnect {
  width: 75px;
  height: 75px;
  margin: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: red;
  border-radius: 500%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: none;
}

.disconnect:hover {
  box-shadow: 0 0 20px 2px red;
  border: 2px solid red;
  cursor: pointer;
}

.disconnect img {
  width: 75px;
}