.connectBar {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 19, 20);
    color: white;
}

.connectBar:hover {
    background-color: #1C5F97;
    cursor: pointer;
}

.wrapModal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.connModal {
    width: 350px;
    height: 500px;
    background: linear-gradient(rgb(39, 39, 39), rgb(31, 31, 31));
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 1px #1C5F97;
}

.loginForm {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
}

.loginForm input {
    color: white;
    background-color: #141414;
    width: 60%;
    height: 40px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    flex-shrink: 0;
}

.labelWrap {
    width: 60%;
    padding: 15px;
    padding-left: 0;
    margin-top: 20px;
    flex-shrink: 0;
    color: red;
    font-size: 10px;
}

.formLabel {
    color: white;
    font-size: 16px;
    margin-right: 10px;
}

.formLabel > :first-child {
    margin-top: 30px;
}

.submitBtn {
    width: 230px;
    height: 40px;
    margin-top: 50px;
    background-color: #1C5F97;
    color: white;
    font-size: 16px;
    border: none;
    flex-shrink: 0;
}

.submitBtn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.connMenu {
    display: flex;
}

.connMenuItem {
    width: 50%;
    padding: 15px;
    /* background-color: rgb(51, 51, 51); */
    color: white;
    text-align: center;
}

.connMenuItem:hover {
    cursor: pointer;
    background-color: black;
}